/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

*{
  margin: 0px;
  padding: 0px;
}
/*corpo*/
body{
  background-image: url("../Images/PagesBackground.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  overflow:hidden;
}

.container{
  height: 100%;
  align-content: center;
  }

h1#tituloPrincipal {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.texto-padrao{
  color: rgba(255, 255, 255,0.7);
}

a{

  transition: text-shadow 1s;
  -webkit-transition: text-shadow 1s;
}

a:hover{
  text-shadow: 0px 0px 2px white;
  color: white;
  text-decoration: none;
}

@keyframes animacao-login {
    from {
        top: -400px;
        opacity: 0;
    }

    to {
        top: 100px;
        opacity: 1;
    }
}

@keyframes animacao-registro {
    from {
        top: 600px;
        opacity: 0;
    }

    to {
        top: 100px;
        opacity: 1;
    }
}
.card {
    top: 100px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
}
#card-login {
    animation-name: animacao-login;
    animation-duration: 3s;
}
#card-registro {
    animation-name: animacao-registro;
    animation-duration: 3s;
}

.input-group-prepend span{
  width: 50px;
  background-color: rgb(10, 10, 10);
  color: white;
  border:0 !important;
  }

.lembrar input{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.btn-dark{
  width: 100px;
  background-color: rgba(10, 10, 10, 0.8);
  color: rgba(200, 200, 200, 0.8);
  -webkit-transition: color 1s background-color 1s;
  transition: color 1s, background-color 1s;
}
.btn-dark:hover{
  color: rgba(150, 150, 150, 0.8);
  background-color: rgba(50, 50, 50, 0.8);
  width: 100px;
}

/*rodape*/
#footer{
  position: fixed;
  bottom:0px;
  left: 0px;
  width:100%;
  text-align: center;

}
footer div.container{
  color:rgba(255, 255, 255, 0.4);
}