@{
    ViewData["Title"] = "Logar";
}

<div class="container">
    
    <div class="d-flex justify-content-center">
        <div class="card" id="card-login">
            <div class="card-header" style="text-align:center;">
                <!--titulo do card-->
                <h1 id="tituloPrincipal">Bem vindo</h1>
            </div>
            <div class="card-body">
                <form>
                    <!--usuario-->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nome de usuário" />
                    </div>
                    <!--senha-->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Senha">
                    </div>
                    <!--opcao lembre-se de mim-->
                    <div class="row align-items-center lembrar" style="text-align:center;">
                        <input type="checkbox"><span class="texto-padrao">&nbsp;Lembre-se de mim</span>
                    </div>
                    <!--botao de entrar-->
                    <div class="form-group d-flex justify-content-center" style="margin-top: 10px;">
                        <input type="submit" value="entrar" class="btn btn-dark float-right">
                    </div>
                </form>
                <div class="card-footer">
                    <!--link para cadastro-->
                    <div class="d-flex justify-content-center ">
                        <a class="texto-padrao" href="#">Cadastrar</a>
                    </div>
                    <!--link para recuperar senha-->
                    <div class="d-flex justify-content-center">
                        <a class="texto-padrao" href="#">Esqueci minha senha</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
